[Unit]
Description=ElKowars wacky widgets - window opener
Documentation=https://elkowar.github.io/eww/
Requires=eww.service
After=eww.service

[Service]
Type=oneshot
ExecStart=/home/ethan/.local/bin/eww open --no-daemonize "%i"
ExecStop=/home/ethan/.local/bin/eww close --no-daemonize "%i"
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
