#!/bin/sh

# Manual installations
LOCAL_BIN="$HOME/.local/bin"
LOCAL_REPOS="$HOME/.local/repos"
FONTS="$HOME/.local/share/fonts"

if [ ! -d "$LOCAL_REPOS" ]; then
	mkdir $LOCAL_REPOS
fi

{{ if (eq .chezmoi.os "linux") }}
# Only build these on linux

{{ if (eq .tag "personal") }}
{{ end }}
{{ end }}
