#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ else if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "fedora" }}
sudo dnf install --assumeyes \
	{{ range .packages.linux.dnf -}} {{ . | quote }} {{ end}}
{{ end}}
{{ end}}

# Install rust and some crates
if [ ! -d "$HOME"/.cargo ]; then
	# Install rust toolchain if not already installed
	curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
	source "$HOME"/.cargo/env
fi

cargo install \
	{{ range .packages.cargo.unlocked -}} {{ . | quote }} {{ end}}

cargo install --locked \
	{{ range .packages.cargo.locked -}} {{ . | quote }} {{ end}}

# Special cases
LOCAL_BIN="$HOME/.local/bin"
LOCAL_REPOS="$HOME/.local/repos"

mkdir $LOCAL_REPOS

## EWW
if [ ! -d "$LOCAL_REPOS/eww" ]; then
	cd $LOCAL_REPOS
	git clone https://github.com/elkowar/eww
	cd eww
	cargo build --release --no-default-features --features=wayland
	cp "$LOCAL_REPOS/eww/target/release/eww" "$LOCAL_BIN"
fi

## KMonad
if [ ! -d "$LOCAL_REPOS/kmonad" ]; then
	cd $LOCAL_REPOS
	git clone https://github.com/kmonad/kmonad
	cd kmonad
	stack install
fi
