#!/bin/sh
# Enable some systemd services

{{ if eq .chezmoi.os "linux" }}
#TODO: This is ugly, create a variable for "Personal" vs "work", use that for this and email
{{   if eq .chezmoi.osRelease.id "fedora" }}
systemctl --user enable kmonad@thinkpad.service
systemctl --user enable kmonad@thinkpad_external.service

systemctl --user enable emacs.service
{{ end }}

{{ end }}
