{{- $tagchoices := list "personal" "work" -}}
{{- $tag := promptChoice "Select a tag" $tagchoices "personal" -}}
[edit]
	command = "nvim"

[data]
	tag = {{- $tag | quote -}}
	{{- if eq $tag "work" }}
	email = "coerenner1@llnl.gov"
	{{ else }}
	email = "e.coerenner@gmail.com"
	{{ end }}
