#!/bin/sh

# This script installs rustup and a crates defined in .chezmoidata/packages.yaml

if [ ! -d "$HOME"/.cargo ]; then
	# Install rust toolchain if not already installed
	curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi

cargo install \
{{ range .packages.cargo -}} 
{{ . | quote }} \
{{ end -}}
