* {
	font-family: Source Code Pro;
	color: #93cb42;
}

.clock {
	background-color: rgba(0,0,0,0);
	font-size: 100px;
}

.bar {
	background-color: rgba(17,17,17);
	font-size: 15;
	font-weight: bold;
	border-radius: 10px;
}
