[user]
    email = {{ .email | quote }}
    name = Ethan Coe-Renner

[credential]
    helper = store

[alias]
    lg = log --oneline --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%aN <%ae>%Creset' --abbrev-commit
    ci = commit --verbose
    cia = commit --verbose --amend
    dlog = log -p --ext-diff
    sh = show --ext-diff
    stsh = stash show --ext-diff
    st = status
    pf = push --force-with-lease

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[init]
    defaultBranch = "master"

[pull]
    rebase = true

[push]
    autoSetupRemote = true

# Difftastic
[diff]
    external = difft
    tool = difftastic

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"

[pager]
    difftool = true
